@font-face {
    font-family: 'lobster';
    src: url('../src/assets/fonts/Lobster.otf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../src/assets/fonts/OpenSans-Regular.ttf');
}

%lobster{
    font-family: lobster;
}

%opensans{
    font-family: OpenSans;
}

